---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allProjects = await Astro.glob('../projects/*.md');

  const uniqueTechs = [
    ...new Set(
      allProjects.map((project) => project.frontmatter.technologies).flat()
    ),
  ];

  return uniqueTechs.map((technology) => {
    const filteredProjects = allProjects.filter((project) =>
      project.frontmatter.technologies.includes(technology)
    );
    return {
      params: { technology },
      props: { projects: filteredProjects },
    };
  });
}

const { technology } = Astro.params;
const { projects } = Astro.props;
const pageTitle = 'About';
const seoTitle = 'Mulrem  About';
const seoDescription = 'About me';
---

<BaseLayout
  pageTitle={pageTitle}
  seoTitle={seoTitle}
  seoDescription={seoDescription}
>
  <p>Posts tagged with {technology}</p>
  <ul>
    {
      (
        <p>{projects} kdkk</p>
        // projects.map((project) => (
        //   <>
        //     <p>{project.frontmatter.title}</p>
        //     <a href={project.url} />
        //   </>
        // ))
      )
    }
  </ul>
</BaseLayout>
