---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allProjects = await Astro.glob('../projects/*.md');
const technologies = [
  ...new Set(allProjects.map((post) => post.frontmatter.technologies).flat()),
];

const seoTitle = 'index Proj';
const seoDescription = 'Projects';

const title = 'My Awesome Software Project';
---

<BaseLayout
  pageTitle={title}
  seoTitle={seoTitle}
  seoDescription={seoDescription}
>
  <div class='tags'>
    {
      technologies.map((tech) => (
        <>
          <p class='tag'>
            <a href={`/technologies/${tech}`}>{tech}</a>
          </p>
        </>
      ))
    }
  </div>
</BaseLayout>
<style>
  a {
    color: #00539f;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #3a8396;
  }
</style>
