---
import SkillBar from "./SkillBar";
import Subtitle from "../Typography/Subtitle.astro";
import programmingLanguages from "@data/programmingLanguages";
---

<div class="flex flex-col">
  <Subtitle subTitle="Programming Languages" />

  <div class="flex flex-wrap gap-4 flex-row justify-center">
    {
      programmingLanguages.map((language, index) => (
        <SkillBar
          client:only="react"
          id={language + "" + index}
          skillName={language.name}
          progress={language.progress}
          skillUrl={language.url}
          iconSrc={language.icon}
          backgroundColor={language.backgroundColor}
        />
      ))
    }
  </div>
</div>
