---
import IconPill from "@components/IconPill";
import ResumeLayout from "@layouts/ResumeLayout.astro";
import { educationData } from "@data/educationData";
import { experienceData } from "@data/experienceData";
import SkillBarNoModal from "@components/Skills/SkillBarNoModal.astro";
import web_MobileSkills from "@data/web_MobileSkills";
import sWConcpetSkills from "@data/swConceptsSkills";
import dataCloudSkills from "@data/dataCloudSkills";
import programmingLanguages from "@data/programmingLanguages";
const pageTitle = "Maria's Resume";
const seoTitle = "Maria's Resume";
const seoDescription =
  "Check out my experience, skills, education and my favorite things to do in my free time";

const mergedSkills = [
  ...programmingLanguages,
  ...dataCloudSkills,

  ...web_MobileSkills,
];
---

<ResumeLayout
  pageTitle={pageTitle}
  seoTitle={seoTitle}
  seoDescription={seoDescription}>
  <div class="px-5 md:px-10 py-5 mx-auto w-full">
    <div
      class="header flex flex-col md:flex-row justify-center md:text-left text-center md:justify-between">
      <!-- Name and occupation title -->
      <div class="flex p-2 justify-center flex-col">
        <h1 class="text-xl md:text-2xl font-extrabold">Maria Failli</h1>
        <p class="text-base text-neutral-500">Software Engineer</p>
      </div>
      <div class="flex gap-x-4 md:items-center justify-center p-2">
        <a
          href="https://www.linkedin.com/in/maria-louisa-failli/"
          class="cursor-pointer"
          target="_blank">
          <IconPill iconSrc="/images/linkedin.svg" description="LinkedIn" />
        </a>
        <a
          href="https://github.com/Maria4lexzy"
          class="cursor-pointer"
          target="_blank">
          <IconPill iconSrc="/images/github.svg" description="GitHub" />
        </a>
        <a
          href="https://maria-louisa.com/"
          class="cursor-pointer"
          target="_blank">
          <IconPill iconSrc="/images/portfolio.svg" description="Portfolio" />
        </a>

        <a
          href="mailto:mariafailli42@gmail.com"
          target="_self"
          class="cursor-pointer">
          <IconPill iconSrc="/images/email.svg" description="get in touch" />
        </a>
        <a href="tel:91 15 47 99" target="_self" class="cursor-pointer">
          <IconPill iconSrc="/images/phone.svg" description="Give me a call" />
        </a>
      </div>
      <!-- socials & contact -->
    </div>
    <!-- About -->

    <div class="about-me flex flex-col p-2 md:p-3 my-3 mx-auto w-full">
      <!-- Title bar -->
      <div class="flex items-center w-full">
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>

        <h1 class="mx-4 capitalize text-xl font-semibold">Summary</h1>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
      </div>

      <!-- Content -->
      With 2,5 years of hands-on experience in developing full-stack web applications,
      1 year specializing in backend application development, and creating mobile
      apps, I bring a diverse skill set to the table. I excel in designing and implementing
      scalable solutions, from server-side functionality to intuitive user interfaces.
      I think outside the box, but not to the extent of reinventing a perfectly good
      wheel. I'm highly motivated, a fast learner, and thrive on taking chances to
      make a difference. As a team-oriented individual with the ability to work independently,
      I actively embrace new challenges, learn from my peers, and share my knowledge.
      My experience spans various programming languages, database management, UI/UX
      design and proficiency in cloud technologies, making me a versatile and resourceful
      software engineer ready to contribute to innovative projects
    </div>

    <!-- Experience Section -->
    <div class="experience flex flex-col p-2 md:p-5 my-4 mx-auto w-full">
      <!-- Title bar -->
      <div class="flex items-center w-full">
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>
        <h1 class="mx-4 capitalize text-xl font-semibold">Experience</h1>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
      </div>
      {
        experienceData.map((job, index) => (
          <div
            class={`flex flex-col md:flex-row mt-5  text-center  md:text-left gap-4  rounded-xl px-3 py-1 ${
              index % 2 === 0
                ? "bg-primary/30 dark:bg-secondary-dark/20"
                : "bg-primary/0 dark:bg-secondary"
            }`}>
            <div class="w-full  md:w-1/4  mx-auto ">
              <h1 class="text-base font-semibold">{job.company}</h1>
              <p class="text-md">{job.role}</p>
              <span class="text-xs text-neutral-500">{job.date} </span>
            </div>
            <div class=" w-full md:w-3/4 ">
              <p class="capitalize text-base font-semibold tracking-wide">
                Responsibilities
              </p>
              <ul class="list-disc ml-2 md:ml-8  text-left leading-tight ">
                {job.responsibilities.map((responsibility, index) => (
                  <li class="mb-2">{responsibility}</li>
                ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
    <!-- Education Section -->
    <div class="education flex flex-col p-2 md:p-5 my-4 mx-auto w-full">
      <!-- Title bar -->
      <div class="flex items-center w-full">
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>
        <h1 class="mx-4 capitalize text-xl font-semibold">Education</h1>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
      </div>
      {
        educationData.map((edu, index) => (
          <div
            class={`flex flex-col md:flex-row mt-5 text-center  md:text-left gap-4 rounded-xl px-3 py-1 ${
              index % 2 === 0
                ? "bg-primary/30 dark:bg-secondary-dark/20"
                : "bg-primary/0 dark:bg-secondary"
            }`}>
            <div class="w-full  md:w-1/4  mx-auto ">
              <h1 class="capitalize text-base font-semibold">{edu.title}</h1>
              <p class="text-md">{edu.degree}</p>
              <span class="text-xs text-neutral-500">{edu.date} </span>
            </div>
            <div class=" w-full md:w-3/4 ">
              <p class="my-2  text-justify">{edu.description}</p>
              <div>
                <ul class="list-disc ml-2 md:ml-8 text-left leading-tight">
                  {edu.skills.map((skill, index) => (
                    <li class="mb-2">{skill}</li>
                  ))}
                </ul>
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <!-- Skills -->
    <div class="skills flex flex-col p-2 md:p-5 my-4 mx-auto w-full">
      <!-- Title bar -->
      <div class="flex items-center w-full">
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>
        <h1 class="mx-4 capitalize text-xl font-semibold">Tech Skills</h1>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
      </div>
      <div
        class="flex flex-wrap gap-y-4 gap-x-6 mt-5 flex-row justify-center md:justify-items-start">
        {
          mergedSkills.map((sys, index) => (
            <SkillBarNoModal
              skillName={sys.name}
              progress={sys.progress}
              iconSrc={sys.icon}
              backgroundColor={sys.backgroundColor}
            />
          ))
        }
      </div>
    </div>

    <!-- Spare time -->

    <div class="about-me flex flex-col p-2 md:p-3 my-3 mx-auto w-full">
      <!-- Title bar -->
      <div class="flex items-center w-full">
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>

        <h1 class="mx-4 capitalize text-xl font-semibold">My Sparetime</h1>
        <div class="mt-1 bg-gray-600 dark:bg-gray-600/50 h-px flex-grow"></div>
        <div class="mt-1 w-2 h-2 rounded-full bg-gray-600"></div>
      </div>

      <!-- Content -->
      <div class="flex mt-2 md:mt-5 gap-4">
        <p class="mt-4 text-sm lg:text-base text-justify">
          Besides improving my tech skills, I enjoy <span
            class="text-primary-text dark:text-secondary-text"
            >crocheting🧶</span
          >, creating <span class="text-primary-text dark:text-secondary-text"
            >IoT projects🤖</span
          >. I've used my DIY skills to automate a few things in my home and
          create various gadgets. I also like traveling🌍 and have traveled to <span
            class="text-primary-text dark:text-secondary-text"
            >26 countries</span
          > on 2 continents, immersing myself in diverse cultures and trying out
          new cuisines. Speaking of food 🍲, despite my <span
            class="text-primary-text dark:text-secondary-text"
            >Nigerian and Italian heritage</span
          >, there's something about <span
            class="text-primary-text dark:text-secondary-text"
            >Nigerian cuisine</span
          > that remains my all-time favorite. I'm an active person who enjoys playing
          <span class="text-primary-text dark:text-secondary-text"
            >frisbee🥏, badminton🏸, and dancing💃</span
          >, I'm not great at them but I'm getting better and better. I'm
          interested in learning <span
            class="text-primary-text dark:text-secondary-text"
            >disc golf and paddle</span
          >. My hobbies and interests demonstrate my creativity, problem-solving
          skills, adaptability, cultural awareness, and communication skills.
        </p>
      </div>
    </div>
  </div>
</ResumeLayout>
