---
import ThemeIcon from './ThemeIcon.astro';
import LinkCode from '@components/Typography/LinkCode.astro';
const currentPath = Astro.url.pathname;

interface IMenu {
  label: string;
  href: string;
  external?: boolean;
  badge?: string;
}
const leftmenu: IMenu[] = [
  {
    label: 'About',
    href: '/#about',
  },
  {
    label: 'Skills',
    href: '/#skills',
  },
  {
    label: 'Languages',
    href: '#languages',
  },
];

const rightmenu: IMenu[] = [
  {
    label: 'Education',
    href: '#education',
  },
  {
    label: 'Experience',
    href: '/#exp',
  },
  {
    label: 'Projects',
    href: '/#projects',
    // external: true,
    // badge: "new",
  },
  // {
  //   label: 'Travel',
  //   href: '/travel',
  // },
];
const mobilemenu: IMenu[] = [...leftmenu, ...rightmenu];
---

<nav
  role='navigation'
  class='px-5 py-2 shadow-md sticky top-0 z-50 w-full mx-auto rounded-lg navbar transition ease-custom-bezier duration-400 font-extrabold'
>
  <div class='flex flex-wrap justify-between md:gap-10 md:flex-nowrap'>
    <!-- LEFT MENU -->
    <div
      class='flex-col items-center justify-start order-1 hidden w-full md:flex md:flex-row md:justify-end md:w-auto md:order-none md:flex-1'
    >
      {
        leftmenu.map((item) => (
          <LinkCode
            url={item.href}
            content={item.label}
            classItems={' nav__link px-2 lg:px-5 py-2 md:text-sm'}
          />
        ))
      }
    </div>
    <!-- LOGO & MENU ICON -->
    <div class='flex w-full justify-around'>
      <div class='md:hidden'>
        <ThemeIcon />
      </div>

      <a id='smallLogo' class='w-32' href='/'>
        <!-- <img src={bigLogo} alt=' Logo' /> -->
        <svg
          class='h-12 w-12 mx-auto text-primary-text dark:text-secondary-text fill-current'
          id='Layer_1'
          data-name='Layer 1'
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 103.69 150.99'
          ><title>maria-logo</title><path
            d='M66.18,151a2.89,2.89,0,0,1-.91-.15,3,3,0,0,1-1.95-3.76C80.07,94.48,90,59.63,94.61,37.4c5.64-27.31,2-30.94.79-31.4C95.22,6,90,5.51,70.77,34.76,59.9,51.29,49.25,70.14,44.7,78.19c-1,1.68-1.65,2.9-2,3.56A3.09,3.09,0,0,1,37,79.39C41.77,62,44.54,46.19,43.8,41.31,37.11,46.07,19.72,70.19,5.67,91.69A3.09,3.09,0,0,1,.14,89.08L15.43,39.64a3,3,0,0,1,5.74,1.77L11.73,71.93C22.15,56.85,36,38.18,42.24,35.28a4.77,4.77,0,0,1,5.29.51c1.22,1,4.43,3.76.11,25.2C80.85,4.07,91.53-1.83,97.49.38c7.19,2.67,8.05,13.74,3,38.23C95.84,61.05,85.85,96.1,69,148.9A3,3,0,0,1,66.18,151ZM5.87,90.85h0Z'
          ></path></svg
        >
      </a>
      <a id='bigLogo' class='w-32' href='/'>
        <svg
          class='h-12 w-12 mx-auto text-primary-text dark:text-secondary-text fill-current'
          id='Layer_2'
          data-name='Layer 2'
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 219.52 150.99'
          ><title>marialogo</title><path
            d='M97.49.38C91.53-1.83,80.85,4.07,47.64,61c4.32-21.44,1.11-24.16-.11-25.2a4.77,4.77,0,0,0-5.29-.51C36,38.18,22.15,56.85,11.73,71.93l9.44-30.52a3,3,0,0,0-5.74-1.77L.14,89.08a3.09,3.09,0,0,0,5.53,2.61C19.72,70.19,37.11,46.07,43.8,41.31c.74,4.88-2,20.66-6.78,38.08a3.09,3.09,0,0,0,5.65,2.36c.38-.66,1.08-1.88,2-3.56,4.55-8,15.2-26.9,26.07-43.43C90,5.51,95.22,6,95.4,6c1.24.46,4.85,4.09-.79,31.4C90,59.63,80.07,94.48,63.32,147.08a3,3,0,0,0,1.95,3.76,2.89,2.89,0,0,0,.91.15A3,3,0,0,0,69,148.9c16.81-52.8,26.8-87.85,31.44-110.29C105.54,14.12,104.68,3.05,97.49.38Z'
          ></path><path
            d='M218.22,70.94a3,3,0,0,0-4.17.78c-.06.08-5.45,7.93-7.71,10.53-3.85,4.42-7.17,6.21-8,6l-.12-.13c-1.09-1.45.71-8.81,3.71-15.16a2.86,2.86,0,0,0,.27-1.06,26.67,26.67,0,0,0,2-5.57,3,3,0,0,0-5.94-.61c-.2.59-.88,2.24-1.74,4.21-2.1-1-5.48-2.37-9-1.07-4.74,1.74-7.09,5.22-9.15,8.3a23.44,23.44,0,0,1-3.06,4c-3.28,3.16-6.82,4.11-8.86,3.66a1.86,1.86,0,0,1-1.35-.85c-.25-1,.59-4.1,2-7.78,2-3.64,3.28-6.63,3.59-7.36a3,3,0,0,0-1.61-3.93,3.36,3.36,0,0,0-4.1,1.4c-.88,1.72-2.18,4.41-3.33,7.32-2.82,5.07-6.72,10.85-10.53,12.88-6,3.2-7.36,2.27-7.8,1.66,0-1.34,1.67-6.11,6.49-14a3.86,3.86,0,0,0,.36-3.3c-.65-1.93-3.07-3.87-7.2-5.77,1.35-4.43,1.6-6.76-.78-7.88-1-.46-2.83-.81-4.55,1.9-2.35,3.71-14.48,21.75-15.43,23-.1.11-.24.3-.43.54-3.56,4.66-6.5,6.61-8.29,5.51-1.1-1.76,1.56-10.67,5.52-18.45l0-.06c0-.1.08-.2.12-.3s.07-.17.1-.26a1.88,1.88,0,0,0,0-.33,1,1,0,0,0,0-.25c0-.11,0-.23,0-.34s0-.16,0-.24,0-.22-.08-.33a1,1,0,0,0,0-.23,2.88,2.88,0,0,0-.13-.31c0-.07-.06-.15-.1-.22s-.13-.19-.19-.28l-.14-.19a3,3,0,0,0-.25-.25l-.17-.16c-.1-.08-.2-.13-.3-.2l-.21-.13h0l-.28-.1-.27-.11-.27,0-.32,0H116l-.25.06a1.73,1.73,0,0,0-.31.07l-.25.11-.27.12a1.19,1.19,0,0,0-.23.16,1.38,1.38,0,0,0-.25.17c-.07.06-.13.14-.2.21a2.08,2.08,0,0,0-.21.21c-.06.08-.11.17-.16.25s-.11.16-.16.25l-.41.81c-.23.47-.5,1-.8,1.57a17.48,17.48,0,0,0-3.35-1.37c-7.37-2.23-13.47,5.42-15,8.28-2,3.59-4.89,10.23-2.53,14.37a6.1,6.1,0,0,0,5.41,3l.71,0a12.62,12.62,0,0,0,9.92-4.48,6,6,0,0,0,2.54,4c3.39,2.22,9,2.84,16.4-6.86l.27-.34c.72-.87,6.69-9.72,11.16-16.43l.19.08a32,32,0,0,1,5.68,2.86c-8.38,14.09-6.63,17.17-5.87,18.51a7.18,7.18,0,0,0,6.63,3.86c3.71,0,7.59-2.06,9.33-3a22.23,22.23,0,0,0,5.9-4.91,7.75,7.75,0,0,0,5.29,3.79,10.8,10.8,0,0,0,2.36.25,16.16,16.16,0,0,0,8.45-2.7,7,7,0,0,0,.74,1.77,6.59,6.59,0,0,0,5.42,3.14l.86,0c3.68,0,6.87-2,9.3-4.2a7,7,0,0,0,1.2,2.83,6.11,6.11,0,0,0,4.77,2.51h.21c4.69,0,9.77-5,12.4-8,2.48-2.85,7.9-10.73,8.13-11.07A3,3,0,0,0,218.22,70.94ZM104.72,83.16c-2.53,3.46-4.27,4.48-7.48,4.36a2.09,2.09,0,0,1-.46-.06c-.35-.91.35-4.32,2.62-8.47.57-1,4.51-6.47,8-5.4a10.82,10.82,0,0,1,2.32.94A92.84,92.84,0,0,1,104.72,83.16Zm77.91,3.92c-.2,0-.67-.07-.78-.25-.49-.81,0-3.33.69-5.13l.82-1.22c1.78-2.65,3.32-4.94,6.23-6,1.39-.51,3.15.24,4.54.92-1,2.18-1.84,4-2.13,4.48C190.71,82,186.52,87.41,182.63,87.08Z'
          ></path><path
            d='M172,62.84a3.07,3.07,0,0,0,1.56.44,3,3,0,0,0,2.56-1.44L180,55.49a3,3,0,0,0-5.12-3.13L171,58.71A3,3,0,0,0,172,62.84Z'
          ></path></svg
        >
      </a>

      <button
        id='menu'
        aria-label='Toggle Menu'
        class='md:hidden text-primary-text dark:text-secondary-text rounded-md focus:outline-none'
      >
        <svg
          class='w-8 h-8 fill-current'
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 24 24'
        >
          <path
            class='navmenu-toggle'
            fill-rule='evenodd'
            d='M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z'
          ></path>

          <path
            class='navmenu-toggle hidden'
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z'
          ></path>
        </svg>
      </button>
    </div>

    <!-- RIGHT MENU -->
    <div
      class='flex-col items-center justify-start order-2 hidden w-full md:flex md:flex-row md:w-auto md:flex-1 md:order-none'
    >
      {
        rightmenu.map((item) => (
          <LinkCode
            url={item.href}
            content={item.label}
            classItems='nav__link px-2 lg:px-5 py-2 md:text-sm'
          />
        ))
      }
      <ThemeIcon class='hidden md:inline-flex' />
    </div>
  </div>
  <!-- PHONE MENU -->
  <div class='navmenu-toggle hidden'>
    <div
      class='flex flex-col items-center justify-start order-2 w-full md:hidden'
    >
      {
        mobilemenu.map((item, index) => (
          <LinkCode
            url={item.href}
            content={item.label}
            classItems='px-5 py-2'
          />
        ))
      }
    </div>
  </div>
</nav>
<script is:inline>
  const menuButton = document.getElementById('menu');
  const smallLogo = document.getElementById('smallLogo');
  const bigLogo = document.getElementById('bigLogo');
  const navbar = document.querySelector('.navbar');
  const htmlElement = document.documentElement;
  menuButton.addEventListener('click', () => {
    [...document.querySelectorAll('.navmenu-toggle')].forEach((Element) => {
      Element.classList.toggle('hidden');
    });
  });

  const updateScrollAttribute = () => {
    const scrollTop = htmlElement.scrollTop || document.body.scrollTop;
    if (scrollTop > 0) {
      htmlElement.setAttribute('data-scroll', '1');
      navbar.classList.add(
        'shadow-lg',
        'bg-primary-light',
        'dark:bg-secondary'
      );
      navbar.classList.remove('shadow-md');
      bigLogo.classList.remove('hidden');
      smallLogo.classList.add('hidden');
    } else {
      htmlElement.setAttribute('data-scroll', '0');
      navbar.classList.remove(
        'shadow-lg',
        'bg-primary-light',
        'dark:bg-secondary'
      );
      navbar.classList.add('shadow-md');
      // bigLogo.classList.remove('hidden');
      // smallLogo.classList.add('hidden');

      bigLogo.classList.add('hidden');
      smallLogo.classList.remove('hidden');
    }
  };
  // Attach scroll event listener
  window.addEventListener('scroll', updateScrollAttribute);
  // Initial call to update the scroll attribute on page load
  updateScrollAttribute();
</script>

<style>
  .content {
    transition: opacity 0.5s ease-in-out;
  }
</style>
